*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Monaco,Consolas,Lucida Console,monospace;
  line-height: 1.6;
  color: #444f66;
  background-color: #F6F9FC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}